
@{
    ViewData["Title"] = "CompareGamers";
    Layout = "~/Views/HaloRank/_CompareGamersLayout.cshtml";
}
@model List<Gamers>
<br />
    <div class="form-row">
        <div class="col">
            <h1 style="color:white">Compare Friends</h1>
        </div>
        <form action="../HaloRank/GetPlayerBySearch" method="post" class="col">
            <div class="form-row">
                <div class="col">
                    <input type="text" name="search" value="" class="form-control" placeholder="Search Gamertag" required />
                </div>
                <div class="col">
                    <input type="submit" value="Search Gamertag" class="btn btn-primary btn-block" />
                </div>
                <div class="col">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Try This Gamertag
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="../HaloRank/GetPlayerBySearch?search=Star Forge 7">Star Forge 7</a>
                            <a class="dropdown-item" href="../HaloRank/GetPlayerBySearch?search=Powered Plant">Powered Plant</a>
                            <a class="dropdown-item" href="../HaloRank/GetPlayerBySearch?search=blody09">blody09</a>
                            <a class="dropdown-item" href="../HaloRank/GetPlayerBySearch?search=Herro Tommy">Herro Tommy</a>
                            <a class="dropdown-item" href="../HaloRank/GetPlayerBySearch?search=Crarazy">Crarazy</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

<body class="view" style="
        background-image: url('../img/halo3_56274604_full.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;">
</body>
<br />
<br />
<br />
<br />


<div class="card-transparent" style="background-color: rgba(11, 12, 12, 0.88)">
    <div class="card-body align-items-center d-flex justify-content-center" style="color:white">
        <table class="table table-striped table-responsive" style="color:white">
            <tr>
                <th id="aligntextintd">Gamertag</th>
                <th id="aligntextintd">Games Played</th>
                <th id="aligntextintd">Score</th>
                <th id="aligntextintd">Rank</th>
                <th id="aligntextintd">Kills</th>
                <th id="aligntextintd">Deaths</th>
                <th id="aligntextintd">Assists</th>
                <th id="aligntextintd">Death Ratio</th>
                <th id="aligntextintd">Assassinations</th> @*Need to decide what data to remove from this view*@
                <th id="aligntextintd">Headshots</th>
                <th id="aligntextintd">Shots Fired</th>
                <th id="aligntextintd">Shots Landed</th>
                <th id="aligntextintd">Accuracy</th>
                <th id="aligntextintd">Games Won</th>
                <th id="aligntextintd">Games Lost</th>
                <th id="aligntextintd">Games Tied</th>
                <th id="aligntextintd">Win Loss Ratio</th>
                <th id="aligntextintd">Time Spent Dead</th>
            </tr>

            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td id="aligntextintd">@Model[i].Gamertag</td>
                    <td id="aligntextintd">@Model[i].TotalGamesCompleted</td>
                    <td id="aligntextintd">@Model[i].Score</td>
                    <td id="aligntextintd">@Model[i].Ranking</td>
                    <td id="aligntextintd">@Model[i].TotalKills</td>
                    <td id="aligntextintd">@Model[i].TotalDeaths</td>
                    <td id="aligntextintd">@Model[i].TotalAssists</td>
                    <td id="aligntextintd">@Model[i].Kdratio</td>
                    <td id="aligntextintd">@Model[i].TotalAssassinations</td>
                    <td id="aligntextintd">@Model[i].TotalHeadshots</td>
                    <td id="aligntextintd">@Model[i].TotalShotsFired</td>
                    <td id="aligntextintd">@Model[i].TotalShotsLanded</td>
                    <td id="aligntextintd">@Model[i].AccuracyRatio%</td>
                    <td id="aligntextintd">@Model[i].TotalGamesWon</td>
                    <td id="aligntextintd">@Model[i].TotalGamesLost</td>
                    <td id="aligntextintd">@Model[i].TotalGamesTied</td>
                    <td id="aligntextintd">@Model[i].WinLossRatio%</td>
                    <td id="aligntextintd">@Gamers.DisplayRespawnTime((int)Model[i].TimeSpentRespawning)</td>
                </tr>
            }
        </table>
    </div>
</div>
