
@{
    ViewData["Title"] = "CreateTeams";
}
@model List<Teams>

<h1>Red vs Blue</h1>


<div class="row">

    @for (int i = 0; i < Model.Count - 1; i++)
    {
    <div class="col-sm-8 col-lg-9" style="color:red">
        <p>@Model[i].TeamName</p>
        <p>@Model[i].Player1</p>
        <p>@Model[i].Player2</p>
        <p>@Model[i].Player3</p>
        <p>@Model[i].Player4</p>
        <p>@Model[i].Player5</p>
        <p>@Model[i].Player6</p>
        <p>@Model[i].Player7</p>
        <p>@Model[i].Player8</p>
        <p>@Model[i].AvgKdratio</p>
        <p>@Model[i].AvgKdaratio</p>
        <p>@Model[i].AvgAccRatio</p>
        <p>@Model[i].AvgWlratio</p>
        <p>@Model[i].AvgScore
    </div>
    }


    @for (int i = 1; i < Model.Count; i++)
    {
<div class="col-sm-4 col-lg-3" style="color:blue">
    <p>@Model[i].TeamName</p>
    <p>@Model[i].Player1</p>
    <p>@Model[i].Player2</p>
    <p>@Model[i].Player3</p>
    <p>@Model[i].Player4</p>
    <p>@Model[i].Player5</p>
    <p>@Model[i].Player6</p>
    <p>@Model[i].Player7</p>
    <p>@Model[i].Player8</p>
    <p>@Model[i].AvgKdratio</p>
    <p>@Model[i].AvgKdaratio</p>
    <p>@Model[i].AvgAccRatio</p>
    <p>@Model[i].AvgWlratio</p>
    <p>@Model[i].AvgScore
</div>
    }
</div>


