@{
    ViewData["Title"] = "CreateTeams";
    Layout = "~/Views/HaloRank/_CreateTeamsLayout.cshtml";
}
@model List<Teams>

<body class="view" style="
        background-image: url('../img/halo3_84822770_full_flipped.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;">
</body>
<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-sm-6">
        <div class="card-transparent" style="background-color: rgba(11, 12, 12, 0.50)">
            <div class="card-body align-items-center d-flex justify-content-center" style="color:white">
                @for (int i = 0; i < Model.Count - 1; i++)
                {
                    <div>
                        <h2 style="text-align:center">Red Team</h2>
                        <p><b>@Model[i].Player1</b></p>
                        <p><b>@Model[i].Player2</b></p>
                        <p><b>@Model[i].Player3</b></p>
                        <p><b>@Model[i].Player4</b></p>
                        <p><b>@Model[i].Player5</b></p>
                        <p><b>@Model[i].Player6</b></p>
                        <p><b>@Model[i].Player7</b></p>
                        <p><b>@Model[i].Player8</b></p>
                        <br />
                        <p>Average Kill/Death Ratio: @Model[i].AvgKdratio</p>
                        <p>Average Win/Loss Ratio: @Model[i].AvgWlratio%</p>
                        <p>Average Score: @Model[i].AvgScore</p>
                        <p>Probability of Winning: @ViewBag.Team1Probability%</p>
                        <div>
                            <form action="../HaloRank/AddFavoriteTeams" method="post" class="row">
                                <div class="col">
                                    <input type="text" name="TeamName" value="" placeholder="Favorite Team Name" class="form-control" required />
                                </div>
                                <input type="hidden" name="favTeam" value="@Model[i].Player1" />
                                <input type="hidden" name="favTeam" value="@Model[i].Player2" />
                                <input type="hidden" name="favTeam" value="@Model[i].Player3" />
                                <input type="hidden" name="favTeam" value="@Model[i].Player4" />
                                <input type="hidden" name="favTeam" value="@Model[i].Player5" />
                                <input type="hidden" name="favTeam" value="@Model[i].Player6" />
                                <input type="hidden" name="favTeam" value="@Model[i].Player7" />
                                <input type="hidden" name="favTeam" value="@Model[i].Player8" />
                                <div class="col">
                                    <input type="submit" name="name" value="Add Team To Favorites" class="btn btn-danger btn-block" />
                                </div>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card-transparent" style="background-color: rgba(11, 12, 12, 0.50)">
            <div class="card-body align-items-center d-flex justify-content-center" style="color:white">
                @for (int i = 1; i < Model.Count; i++)
                {
                    <div>
                        <h2 style="text-align:center">Blue Team</h2>
                        <p><b>@Model[i].Player1</b></p>
                        <p><b>@Model[i].Player2</b></p>
                        <p><b>@Model[i].Player3</b></p>
                        <p><b>@Model[i].Player4</b></p>
                        <p><b>@Model[i].Player5</b></p>
                        <p><b>@Model[i].Player6</b></p>
                        <p><b>@Model[i].Player7</b></p>
                        <p><b>@Model[i].Player8</b></p>
                        <br />
                        <p>Average Kill/Death Ratio: @Model[i].AvgKdratio</p>
                        <p>Average Win/Loss Ratio: @Model[i].AvgWlratio%</p>
                        <p>Average Score: @Model[i].AvgScore</p>
                        <p>Probability of Winning: @ViewBag.Team2Probability%</p>
                        <div>
                            <form action="../HaloRank/AddFavoriteTeams" method="post" class="row">
                                <div class="col">
                                    <input type="text" name="TeamName" value="" placeholder="Favorite Team Name" class="form-control" required />
                                </div>
                                <input type="hidden" name="favTeam" value="@Model[i].Player1" />
                                <input type="hidden" name="favTeam" value="@Model[i].Player2" />
                                <input type="hidden" name="favTeam" value="@Model[i].Player3" />
                                <input type="hidden" name="favTeam" value="@Model[i].Player4" />
                                <input type="hidden" name="favTeam" value="@Model[i].Player5" />
                                <input type="hidden" name="favTeam" value="@Model[i].Player6" />
                                <input type="hidden" name="favTeam" value="@Model[i].Player7" />
                                <input type="hidden" name="favTeam" value="@Model[i].Player8" />
                                <div class="col">
                                    <input type="submit" name="name" value="Add Team To Favorites" class="btn btn-primary btn-block" />
                                </div>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>