
@{
    ViewData["Title"] = "CreateTeams";
}
@model List<Teams>

<h1>Red vs Blue</h1>


<div class="row">

    @for (int i = 0; i < Model.Count - 1; i++)
    {
        <div class="col-sm-6 col-lg-5" style="color:red">
            <p>Red Team @Model[i].TeamName</p>
            <p>@Model[i].Player1</p>
            <p>@Model[i].Player2</p>
            <p>@Model[i].Player3</p>
            <p>@Model[i].Player4</p>
            <p>@Model[i].Player5</p>
            <p>@Model[i].Player6</p>
            <p>@Model[i].Player7</p>
            <p>@Model[i].Player8</p>
            <p>Average Kill/Death Ratio: @Model[i].AvgKdratio</p>
            <p>Average Kill/Death/Assist Ratio: @Model[i].AvgKdaratio</p>
            <p>Average Accuracy Ratio: @(Model[i].AvgAccRatio * 100)%</p>
            <p>Average Win/Loss Ratio: @(Model[i].AvgWlratio * 100)%</p>
            <p>Average Score: @Model[i].AvgScore</p>
            <div class="form-check-inline">
                <form action="../HaloRank/AddFavoriteTeams" method="post">
                    <input type="text" name="TeamName" value="" placeholder="Enter Team Name" required />
                    <input type="hidden" name="favTeam" value="@Model[i].Player1" />
                    <input type="hidden" name="favTeam" value="@Model[i].Player2" />
                    <input type="hidden" name="favTeam" value="@Model[i].Player3" />
                    <input type="hidden" name="favTeam" value="@Model[i].Player4" />
                    <input type="hidden" name="favTeam" value="@Model[i].Player5" />
                    <input type="hidden" name="favTeam" value="@Model[i].Player6" />
                    <input type="hidden" name="favTeam" value="@Model[i].Player7" />
                    <input type="hidden" name="favTeam" value="@Model[i].Player8" />
                    <input type="submit" name="name" value="Add team to Favorites" />
                </form>
            </div>
        </div>
    }


    @for (int i = 1; i < Model.Count; i++)
    {
        <div class="col-sm-6 col-lg-5" style="color:blue">
            <p>Blue Team @Model[i].TeamName</p>
            <p>@Model[i].Player1</p>
            <p>@Model[i].Player2</p>
            <p>@Model[i].Player3</p>
            <p>@Model[i].Player4</p>
            <p>@Model[i].Player5</p>
            <p>@Model[i].Player6</p>
            <p>@Model[i].Player7</p>
            <p>@Model[i].Player8</p>
            <p>Average Kill/Death Ratio: @Model[i].AvgKdratio</p>
            <p>Average Kill/Death/Assist Ratio: @Model[i].AvgKdaratio</p>
            <p>Average Accuracy Ratio: @(Model[i].AvgAccRatio * 100)%</p>
            <p>Average Win/Loss Ratio: @(Model[i].AvgWlratio * 100)%</p>
            <p>Average Score: @Model[i].AvgScore</p>
            <div class="form-check-inline">
                <form action="../HaloRank/AddFavoriteTeams" method="post">
                    <input type="text" name="TeamName" value="" placeholder="Enter Team Name" required />
                    <input type="hidden" name="favTeam" value="@Model[i].Player1" />
                    <input type="hidden" name="favTeam" value="@Model[i].Player2" />
                    <input type="hidden" name="favTeam" value="@Model[i].Player3" />
                    <input type="hidden" name="favTeam" value="@Model[i].Player4" />
                    <input type="hidden" name="favTeam" value="@Model[i].Player5" />
                    <input type="hidden" name="favTeam" value="@Model[i].Player6" />
                    <input type="hidden" name="favTeam" value="@Model[i].Player7" />
                    <input type="hidden" name="favTeam" value="@Model[i].Player8" />
                    <input type="submit" value="Add team to Favorites" />
                </form>
            </div>
        </div>
    }
</div>