
@{
    ViewData["Title"] = "DisplayFavoriteTeams";
}
@model List<Teams>

<table class="col-12">
    <tr>
        <td><h1>Favorite Teams</h1></td>
        <td>
            <form action="../HaloRank/GetPlayerBySearch" method="post">
                <input type="submit" value="Search Gamertag" class="small btn-primary" />
                <input type="text" name="search" value="" class="rounded" />

            </form>
        </td>
    </tr>
</table>
<br />

  
    <table class="table table-bordered table-striped ">
        <tr>

            <th>Team Name</th>
            @for (int i = 1; i <= ViewBag.teamMembers; i++)
            {
                <th >Player @i </th>
            }
                <th>Win/Loss Ratio</th>
                <th>Kill/Deaths Ratio</th>
                <th>Kill/Death/Assists Ratio</th>
                <th>Accuracy Ratio</th>
                <th>Score</th>
        </tr>
      
        @for (int i = 0; i < Model.Count; i++)
        {
        <tr>
        <td>@Model[i].TeamName</td>

        @if (ViewBag.teamMembers == 8)
        {
                <td>@Model[i].Player1</td>
                <td>@Model[i].Player2</td>
                <td>@Model[i].Player3</td>
                <td>@Model[i].Player4</td>
                <td>@Model[i].Player5</td>
                <td>@Model[i].Player6</td>
                <td>@Model[i].Player7</td>
                <td>@Model[i].Player8</td>
                <td>@Model[i].AvgWlratio%</td>
                <td>@Model[i].AvgKdratio</td>
                <td>@Model[i].AvgKdaratio</td>
                <td>@Model[i].AvgAccRatio%</td>
                <td>@Model[i].AvgScore</td>
        }
        else if (ViewBag.teamMembers == 6)
        {
                <td>@Model[i].Player1</td>
                <td>@Model[i].Player2</td>
                <td>@Model[i].Player3</td>
                <td>@Model[i].Player4</td>
                <td>@Model[i].Player5</td>
                <td>@Model[i].Player6</td>
                <td>@Model[i].AvgWlratio%</td>
                <td>@Model[i].AvgKdratio</td>
                <td>@Model[i].AvgKdaratio</td>
                <td>@Model[i].AvgAccRatio%</td>
                <td>@Model[i].AvgScore</td>
        }
        else if (ViewBag.teamMembers == 4)
        {
                <td>@Model[i].Player1</td>
                <td>@Model[i].Player2</td>
                <td>@Model[i].Player3</td>
                <td>@Model[i].Player4</td>
                <td>@Model[i].AvgWlratio%</td>
                <td>@Model[i].AvgKdratio</td>
                <td>@Model[i].AvgKdaratio</td>
                <td>@Model[i].AvgAccRatio%</td>
                <td>@Model[i].AvgScore</td>
        }
        else
        {
                <td>@Model[i].Player1</td>
                <td>@Model[i].Player2</td>
                <td>@Model[i].AvgWlratio%</td>
                <td>@Model[i].AvgKdratio</td>
                <td>@Model[i].AvgKdaratio</td>
                <td>@Model[i].AvgAccRatio%</td>
                <td>@Model[i].AvgScore</td>   
        }
        <td><a href="../HaloRank/DeleteFavoriteTeams?id=@Model[i].Id" class="btn btn-danger">Remove</a></td>
    </tr>
        }

    </table>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>

}