@{
    ViewData["Title"] = "DisplayGamers";
}
@model List<Gamers>

<a href ="../HaloRank/GenerateFriends" class="btn btn-outline-warning">Generate Friends</a>

<table class="col-12">
    <tr>
        <td><h1>Friends List</h1></td>
        <td>
            <form action="../HaloRank/GetPlayerBySearch" method="post" >
                <input type="submit" value="Search Gamertag" class="small btn-primary" />
                <input type="text" name="search" value="" class="rounded" />

            </form>
        </td>
    </tr>
</table>
<br />


<form action="../HaloRank/CreateTeams" method="post">


    <table class="table table-bordered">

        <tr>
            <th>Select players for Teams</th>
            <th>Gamertag</th>
            @*<th>Headshots per game</th>
                <th>Assassinations per game</th>*@
            <th>Rank</th>
            <th>Score</th>
            <th>Kill Death Ratio</th>
            <th>Accuracy Ratio</th>
            <th>Win Loss Ratio</th>
            <th>Total Games Played</th>
                @*<th>Score</th>
                <th>Total Kills</th>
                <th>Total Deaths</th>
                <th>Total Assists</th>
                <th>Total Assassinations</th>
                <th>Total Headshots</th>
                <th>Total Shots Fired</th>
                <th>Total Shots Landed</th>
                <th>Total Games Won</th>
                <th>Total Games Lost</th>
                <th>Total Games Tied</th>
                <th>Total Time Played</th>*@


            <th><a href="../HaloRank/UpdateGamers" class="btn btn-outline-warning btn-block">Update</a></th>
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
    <tr>
        <td><input type="checkbox" name="gamers" value="@Model[i].Gamertag" /></td>
        <td>@Model[i].Gamertag</td>
        @*<td>@Math.Round(((double)Model[i].TotalHeadshots / (double)Model[i].TotalGamesCompleted), 2)</td>
        <td>@Math.Round(((double)Model[i].TotalAssassinations / (double)Model[i].TotalGamesCompleted), 2)</td>*@
        <td>@Model[i].Ranking</td>
        <td>@Model[i].Score</td>
        <td>@Model[i].Kdratio</td>
        <td>@Model[i].AccuracyRatio%</td>
        <td>@Model[i].WinLossRatio%</td>
        <td>@Model[i].TotalGamesCompleted</td>
        @*<td>@Model[i].TotalGamesCompleted</td>
        <td>@Model[i].Score</td>
        <td>@Model[i].TotalKills</td>
        <td>@Model[i].TotalDeaths</td>
        <td>@Model[i].TotalAssists</td>
        <td>@Model[i].TotalAssassinations</td>
        <td>@Model[i].TotalHeadshots</td>
        <td>@Model[i].TotalShotsFired</td>
        <td>@Model[i].TotalShotsLanded</td>
        <td>@Model[i].TotalGamesWon</td>
        <td>@Model[i].TotalGamesLost</td>
        <td>@Model[i].TotalGamesTied</td>
        *@
        <td>
            @if (Model[i].Gamertag != ViewBag.Gamertag)
            {
                <a href="../HaloRank/DeleteFromGamers?id=@Model[i].Id" class="btn btn-danger btn-block">Delete</a>
            }
        </td>
    </tr>
        }
    </table>
    <input type="reset" value="Reset Selection" />
    <input type="submit" name="submit" value="Generate Teams" />
    <input type="text" name="teamName" value="" placeholder="New Team Name" />
    <input type="submit" name="submit" value="Add Selection as Favorite Team" />
    <input type="submit" name="submit" value="Compare Gamers" />
</form>



@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>

}

@if (ViewBag.ErrorGenerate != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.ErrorGenerate");
            };
    </script>

}

@if (ViewBag.ErrorTeam != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.ErrorTeam");
            };
    </script>

}

@if (ViewBag.ErrorName != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.ErrorName");
            };
    </script>

}




