@{
    ViewData["Title"] = "DisplayGamers";
}
@model List<Gamers>

<table class="col-12">
    <tr>
        <td><h1>Friends List</h1></td>
        <td>
            <form action="../HaloRank/GetPlayerBySearch" method="post">
                <input type="submit" value="Search Gamertag" class="small btn-primary" />
                <input type="text" name="search" value="" class="rounded" />

            </form>
        </td>
    </tr>
</table>
<br />
<br />

<form action="../HaloRank/CreateTeams" method="post">
    <input type="text" name="teamName" value="" placeholder="Favorite Team Name" class="rounded" />
    <input type="submit" name="submit" value="Add as Favorite Team" class="btn btn-outline-info" />
    <input type="reset" value="Reset Selection" class="btn btn-outline-info" />
    <input type="submit" name="submit" value="Generate Teams" class=" btn btn-outline-info" />
    <input type="submit" name="submit" value="Compare Gamers" class="btn btn-outline-info" />
    <a href="../HaloRank/GenerateFriends" class="btn btn-outline-danger">Populate Friends</a>
    <a href="../HaloRank/UpdateGamers" class="btn btn-outline-warning">Refresh Stats</a>
    <br/>

    <table class="table table-bordered">

        <tr>
            <th>Select Players</th>
            <th>Gamertag</th>
            <th>Rank</th>
            <th>Score</th>
            <th>Kill Death Ratio</th>
            <th>Accuracy Ratio</th>
            <th>Win Loss Ratio</th>
            <th>Total Games Played</th>
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td ><input type="checkbox" name="gamers" value="@Model[i].Gamertag"/></td>
                <td>@Model[i].Gamertag</td>
                <td>@Model[i].Ranking</td>
                <td>@Model[i].Score</td>
                <td>@Model[i].Kdratio</td>
                <td>@Model[i].AccuracyRatio%</td>
                <td>@Model[i].WinLossRatio%</td>
                <td>@Model[i].TotalGamesCompleted</td>
                <td>
                    @if (Model[i].Gamertag != ViewBag.Gamertag)
                    {
                        <a href="../HaloRank/DeleteFromGamers?id=@Model[i].Id" class="btn btn-danger btn-block">Delete</a>
                    }
                </td>
            </tr>
        }
    </table>
</form>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}