
@{
    ViewData["Title"] = "DisplayFavoriteTeams";
}
@model List<Teams>
<h1>Favorite Teams</h1>
<form action="../HaloRank/GetPlayerBySearch" method="post">
    <input type="text" name="search" value="" class="small" />
    <input type="submit" value="Search Gamertag" class="small" />
</form>
<br />
<div>
    <table class="table table-bordered col-6">
        <tr>
            
            <th>Team Name</th>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Player 3</th>
            <th>Player 4</th>
            <th>Player 5</th>
            <th>Player 6</th>
            <th>Player 7</th>
            <th>Player 8</th>
            <th>Average Win/Loss Ratio</th>
            <th>Average Kill/Deaths Ratio</th>
            <th>Average Kill/Death/Assists Ratio</th>
            <th>Average Accuracy Ratio</th>
            <th>Average Score</th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Model[i].TeamName</td>
                <td>@Model[i].Player1</td>
                <td>@Model[i].Player2</td>
                <td>@Model[i].Player3</td>
                <td>@Model[i].Player4</td>
                <td>@Model[i].Player5</td>
                <td>@Model[i].Player6</td>
                <td>@Model[i].Player7</td>
                <td>@Model[i].Player8</td>
                <td>@Model[i].AvgWlratio%</td>
                <td>@Model[i].AvgKdratio</td>
                <td>@Model[i].AvgKdaratio</td>
                <td>@Model[i].AvgAccRatio%</td>
                <td>@Model[i].AvgScore</td>

                <td><a href="../HaloRank/DeleteFavoriteTeams?id=@Model[i].Id" class="btn btn-danger">Remove</a></td>
            </tr>
        }

    </table>

</div>
