@{
    ViewData["Title"] = "GetPlayerBySearch";
}
<h1>GetPlayerBySearch</h1>
@model Gamers
<table class=" table table-dark">
    <tr>
        <th>Gamertag</th>
        <th>Total Kills</th>
        <th>Total Deaths</th>
        <th>Total Assists</th>
        <th>Kill Deaths Ratio</th>
        <th>Total Assassinations</th>
        <th>Total Headshots</th>
        <th>Total Shots Fired</th>
        <th>Total Shots Landed</th>
        <th>Accuracy Ratio</th>
        <th>Total Games Won</th>
        <th>Total Games Lost</th>
        <th>Total Games Tied</th>
        <th>Win Loss Ratio</th>
        <th>Total Games Completed</th>
        <th>Total Time Played</th>
        
    </tr>
    <tr>
        <td>@Model.Gamertag</td>
        <td>@Model.TotalKills</td>
        <td>@Model.TotalDeaths</td>
        <td>@Model.TotalAssists</td>
        <td>@Model.Kdratio</td>
        <td>@Model.TotalAssassinations</td>
        <td>@Model.TotalHeadshots</td>
        <td>@Model.TotalShotsFired</td>
        <td>@Model.TotalShotsLanded</td>
        <td>@Model.AccuracyRatio</td>
        <td>@Model.TotalGamesWon</td>
        <td>@Model.TotalGamesLost</td>
        <td>@Model.TotalGamesTied</td>
        <td>@Model.WinLossRatio</td>
        <td>@Model.TotalGamesCompleted</td>
        <td>@Model.TotalTimePlayed</td>
    </tr>
</table>
<form action="../HaloRank/AddToGamers" method="post">
    <input type="hidden" name="Gamertag" value="@Model.Gamertag" />
    <input type="hidden" name="TotalKills" value="@Model.TotalKills" />
    <input type="hidden" name="TotalDeaths" value="@Model.TotalDeaths" />
    <input type="hidden" name="TotalAssists" value="@Model.TotalAssists" />
    <input type="hidden" name="TotalAssassinations" value="@Model.Kdratio" />
    <input type="hidden" name="TotalAssassinations" value="@Model.Kdaratio" />
    <input type="hidden" name="TotalAssassinations" value="@Model.TotalAssassinations" />
    <input type="hidden" name="TotalHeadshots" value="@Model.TotalHeadshots" />
    <input type="hidden" name="TotalShotsFired" value="@Model.TotalShotsFired" />
    <input type="hidden" name="TotalShotsLanded" value="@Model.TotalShotsLanded" />
    <input type="hidden" name="TotalGamesWon" value="@Model.AccuracyRatio" />
    <input type="hidden" name="TotalGamesWon" value="@Model.TotalGamesWon" />
    <input type="hidden" name="TotalGamesLost" value="@Model.TotalGamesLost" />
    <input type="hidden" name="TotalGamesTied" value="@Model.TotalGamesTied" />
    <input type="hidden" name="TotalGamesCompleted" value="@Model.WinLossRatio" />
    <input type="hidden" name="TotalGamesCompleted" value="@Model.TotalGamesCompleted" />
    <input type="hidden" name="TotalTimePlayed" value="@Model.TotalTimePlayed" />
    @*<input type="hidden" name="GameTypeNvarCharId" value="@Model.Results[0].Result.ArenaStats.ArenaGameBaseVariantStats[2].GameBaseVariantId" />*@
    <input type="hidden" name="UserID" value="@ViewBag.UserId" />
    <input type="submit" value="Add to friends list" />
</form>